html,body {
    width: 100%;
    background:#27a7ad ;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
.preload {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity:1;
    background:#fff;
    display:block;
    /*transition:1s all linear;
    transform:rotateX(0deg) scale(1);*/
    z-index:9999;
}
.preload-son {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -64px 0 0 -64px;
}
/*container*/
/*header*/
.container {
    width: 1024px;
    margin: 0 auto;
}
.container .header {
    width: 100%;
    height: 74px;
    background: url(img/bg_pic/menu.png);
    overflow:hidden;
}
.header-ul {
    width: 100%;
    height: 100%;
    position:relative;
}
.header-ul li {
    float: left;
    width: 20%;
    height: 100%;
    box-sizing:border-box;
    border-right:1px solid #fff;
    position:relative;
}
.header-ul li a {
    display: block;
    width:100%;
    height:100%;
    font-size: 20px;
    color: #fff;
    line-height:74px;
    text-align: center;
}
#moveLi {
    border-right: none;
    position: absolute;
    top: 0;
    left: 205px;
    background: rgba(100, 100, 250, 0.3);
}
/*main*/
/*main_right*/
.main_right {
    width: 560px;
    height: 420px;
    position: relative;
    overflow:hidden;
}
.main_right_ul {
    width:3360px;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom:10px;
}
.main_right_ul li {
    width: 560px;
    height: 100%;
    background: url(img/img/1.jpg);
    background-size: 100%;
    float:left;
}
.main_right_item {
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left:2px;
}
.main_right_item li {
    width: calc((100% - 30px) / 6);
    height:100%;
    box-sizing:border-box;
    opacity: 0.4;
    float:left;
    background:url(img/img/1.jpg) center;
    background-size:100%;
    background-origin:border-box;
    margin-right:5px;
}
.main_right_item li.active{
    opacity:1;
    border:1px solid rgba(255,255,255,0.4);
}
.main_right a.arrow{
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    margin-top:-30px;
    font-size:24px;
    color:#eee;
}
#toleft {
    position: absolute;
    top: 50%;
    left: -30px;
}
#toright {
    position: absolute;
    top: 50%;
    right: -30px;
}
/*title*/
.title {
    width: 100%;
    height: 150px;
    text-align: center;
    line-height:150px;
    font-size:36px;
    color:#fff;
}
/*导航球*/
#elastic_box {
    width: 100px;
    height: 100px;
    behavior: url(js/ie-css3.htc);
    position: fixed;
    left: 50px;
    top: 50%;
    background:#67b0d1;
    cursor:pointer;
    box-shadow:0 0 5px #fff;
    border:1px solid #eee;
    -webkit-box-shadow:0 0 5px #fff;
    -moz-box-shadow:0 0 5px #fff;
    -ms-box-shadow:0 0 5px #fff;
    -o-box-shadow:0 0 5px #fff;
    display:none;
}
#elastic_box_son {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    transform:rotate(0deg);
}
#elastic_nav{
    position:absolute;
    top:50%;
    left:50%;
    width:40px;
    height:20px;
    font-size:20px;
    text-align:center;
    margin:-10px 0 0 -20px;
    z-index:3;
    color:#fff;
}
#elastic_nav:hover{
    color:blue;
}
#elastic_box a {
    width: 50px;
    height: 50px;
    behavior: url(js/ie-css3.htc);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    background:#67b0d1;
    line-height:50%;
    text-align:center;
    font-size:16px;
    color:#666;
    border:1px solid #eee;
    box-shadow:0 0 5px #fff;
    -webkit-box-shadow:0 0 5px #fff;
    -moz-box-shadow:0 0 5px #fff;
    -ms-box-shadow:0 0 5px #fff;
    -o-box-shadow:0 0 5px #fff;
}
@-webkit-keyframes move{
    from{
        -webkit-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
    }
}
@-moz-keyframes move{
    from{
        -moz-transform:rotate(0deg);
    }
    to{
        -moz-transform:rotate(360deg);
    }
}
@-ms-keyframes move{
    from{
        -ms-transform:rotate(0deg);
    }
    to{
        -ms-transform:rotate(360deg);
    }
}
@-o-keyframes move{
    from{
        -o-transform:rotate(0deg);
    }
    to{
        -o-transform:rotate(360deg);
    }
}
#elastic_box div.active{
    animation:12s move linear infinite;
    -webkit-animation:12s move linear infinite;
    -moz-animation:12s move linear infinite;
    -o-animation:12s move linear infinite;
    behavior: url(js/ie-css3.htc);
}
/*nav*/
.nav_box{width:100%;padding-top:30px;}
.nav_box .nav_ul{width:944px;margin:0 auto;}
.nav_box .nav_ul li {
    width: 220px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    text-align:center;
    margin:8px;
    height:50px;
    line-height:50px;
    font-size:20px;
    color:#fff;
    float:left;
    behavior: url(js/ie-css3.htc);
}
.nav_box .nav_ul li a{
    display:block;
    width:100%;
    height:100%;
    color:#eee;
}
.nav_ul li a:hover {
    color:#3abdbf;
    text-decoration:underline;
}
/*option_box*/
.option_box{width:100%;padding-top:50px;}
.option_title {
    width: 100%;
    height: 50px;
    background: #67b0d1;
    color: #eee;
    line-height:50px;
    font-weight:normal;
    text-align:center;
}
/*option_bar1*/
.option_bar1 {
    width: 768px;
    padding-top: 50px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
.option_bar1_up {
    width: 100%;
    height: 480px;
    position: relative;
    overflow:hidden;
}
.option_bar1_ul {
    width: 600%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.option_bar1_ul li {
    width: 768px;
    height: 100%;
    float:left;
    background-size:100%;
}
.option_bar1_down {
    width: 768px;
    overflow:hidden;
}
.option_bar1_down li {
    width: 120px;
    height: 75px;
    background-size: 100%;
    margin: 4px;
    float:left;
    opacity:0.4;
    box-sizing:border-box;
}
.option_bar1_down li.active{
    opacity:1;
    border:1px solid rgba(255,255,255,0.4);
}
.option_bar1 a.arrow{
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    margin-top:-30px;
    font-size:24px;
    color:#eee;
}
#toleft {
    position: absolute;
    top: 50%;
    left: -30px;
}
#toright {
    position: absolute;
    top: 50%;
    right: -30px;
}
/*option_bar2*/
.option_bar2 {
    width: 768px;
    padding-top:50px;
    margin: 0 auto;
    overflow: hidden;
}
.option_bar2_box{
    width:100%;
    height:480px;
    position:relative;
}
.option_bar2_ul{
    width:400%;
    height:480px;
    position:absolute;
    top:0;
    left:0;
    box-sizing:border-box;
}
.option_bar2_ul li {
    width: 768px;
    height:100%;
    float:left;
    box-sizing:border-box;
    background-size:100%;
}
.option_bar2_bar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -75px;
}
.option_bar2_bar li {
    width: 30px;
    height: 10px;
    float: left;
    margin: 5px;
    background: aqua;
    position:relative;
}
.option_bar2_bar li span {
    width:0;
    height: 100%;
    background: royalblue;
    position: absolute;
    top: 0;
    left: 0;
}
.option_bar2_bar li span.active {
    width: 30px;
}
.option_bar2 .introduce {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color:#fff;
    font-size:24px;
}
/*auto_scroll*/
.auto_scroll{width:100%;padding-top:30px;}
.scroll_title {
    width: 100%;
    height: 50px;
    background: #67b0d1;
    color: #eee;
    line-height:50px;
    font-weight:normal;
    text-align:center;
    margin-bottom:50px;
}
.auto_scroll_box {
    width: 800px;
    height: 600px;
    border: 1px solid #67b0d1;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
.auto_scroll_left {
    width: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30px;
}
.scroll_content {
    width: 100%;
    line-height: 36px;
    font-size: 20px;
    color:#eee;
}
.auto_scroll_right {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #eee;
}
.scroll_bar {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background: #67b0d1;
}
/*link_select*/
.link_select {
    width: 100%;
    padding-top: 50px;
    color: #eee;
}
.link_select input{cursor:pointer;}
.link_select_title{
    width: 100%;
    height: 50px;
    background: #67b0d1;
    color: #eee;
    line-height:50px;
    font-weight:normal;
    text-align:center;
    margin-bottom:50px;
}
.link_select_up {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #eee;
    padding-left:20px;
    box-sizing:border-box;
}
.link_select_down {
    height: 50px;
    line-height: 50px;
    padding-left:20px;
    box-sizing:border-box;
}
/*countdown*/
.countdown {
    width: 100%;
    padding-top: 50px;
}
.countdown_title{
    width: 100%;
    height: 50px;
    background: #67b0d1;
    color: #eee;
    line-height:50px;
    font-weight:normal;
    text-align:center;
    margin-bottom:50px;
}
.time_container {
    width: 80%;
    height: 50px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 50px;
    font-size:24px;
    color:#eee;
    margin:0 auto 10px;
}
.progress_bar {
    width: 80%;
    height: 10px;
    border: 1px solid #eee;
    position:relative;
    margin:0 auto;
}
.progress_bar span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #67b0d1
}
.countdown .introduce {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #eee;
    text-align: center;
}
.time_btn {
    width: 20%;
    height: 50px;
    margin:0 auto;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: royalblue;
    opacity:0.8;
    font-size:20px;
    cursor:pointer;
    margin-bottom:20px;
}
/*double_ball*/
.double_ball{width:100%;padding-top:50px;}
.double_ball_title{
    width: 100%;
    height: 50px;
    background: #67b0d1;
    color: #eee;
    line-height:50px;
    font-weight:normal;
    text-align:center;
    margin-bottom:50px;
}
.double_con {
    width: 80%;
    margin:0 auto;
    height: 50px;
    text-align: center;
    font-size: 24px;
    color: #eee;
    border: 1px solid #eee;
    position:relative;
}
.double_con div,.double_con span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height:30px;
    font-size: 16px;
    background: royalblue;
    color: #fff;
    margin-top:10px;
    font-weight:bold;
}
.double_con span {
    background: palevioletred;
}
#double_btn {
    position: absolute;
    top: 10px;
    left: 70%;
}
/*up_down*/
.up_down{width:100%;padding-top:50px;}
.up_down_title{
    width: 100%;
    height: 50px;
    background: #67b0d1;
    color: #eee;
    line-height:50px;
    font-weight:normal;
    text-align:center;
    margin-bottom:50px;
}
.up_down_ul {
    width: 80%;
    margin: 0 auto;
    border:1px solid #fff;
    padding:10px;
}
.up_down_ul li{
    width:100%;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#fff;
    font-size:18px;
    background:mediumvioletred;
    opacity:0.8;
}
.up_down_ul li a{
    color:#7ecef4;
}
/*lazy_load*/
.lazy_load{width:100%;padding-top:50px;}
.lazy_load_title{
    width: 100%;
    height: 50px;
    background: #67b0d1;
    color: #eee;
    line-height:50px;
    font-weight:normal;
    text-align:center;
    margin-bottom:50px;
}
.lazy_load_ul{
    width:888px;
    border:1px solid #eee;
    margin:0 auto;
}
.lazy_load_ul li{
    width:200px;
    height:200px;
    border:1px solid #eee;
    float:left;
    margin:10px;
}
.lazy_load_ul li img {
    width: 200px;
    display:block;
}
/*waterfall*/
.waterfall{
    width:100%;
    padding-top:50px;
}
.waterfall_title{
    width: 100%;
    height: 50px;
    background: #67b0d1;
    color: #eee;
    line-height:50px;
    font-weight:normal;
    text-align:center;
    margin-bottom:50px;
}
.waterfall_cont{
    width:888px;
    border:1px solid #eee;
    margin:0 auto;
}
.waterfall_cont ul{
    width:200px;
    float:left;
    margin:10px;
}
/*toTop*/
.toTop {
    width: 71px;
    height: 71px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    cursor:pointer;
}
.toTop span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(img/icon/toTop.gif);
}